    <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="/assets/images/thumbs/contact/contact-1000.jpg" srcset="/assets/images/thumbs/contact/contact-2000.jpg 2000w, 
                            /assets/images/thumbs/contact/contact-1000.jpg 1000w, 
                            /assets/images/thumbs/contact/contact-500.jpg 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                        </div>
                    </div>

                    <div class="content__page-header">
                        <h1 class="display-1">
                        Get In Touch.
                        </h1>
                    </div> <!-- end content__page-header -->

                    <p class="lead drop-cap">
                      Thank you for visiting our programming blog. We value your feedback and suggestions. Please use the following information to get in touch with us.
                    </p>

                    <p>
                      We welcome guest posts and contributions from fellow programmers. For advertising or partnership opportunities, please contact our marketing team. If you have any general inquiries or questions about our blog, feel free to reach out to us.If you encounter any technical issues with our website or notice any errors, please let us know by contacting our technical support team.
                    </p>

                  <p>
                    Please note that it may take some time for us to respond to your inquiries. We appreciate your patience and will do our best to get back to you as soon as possible.

Thank you for your interest in our programming blog!
                  </p>
                    <div class="row">
                        <div class="column large-six tab-full">
                            <h4>Where to Find Us</h4>
    
                            <p>
                            Aguascalientes<br>
                            Mexico<br>
                            2023
                            </p>
    
                        </div>
    
                        <div class="column large-six tab-full">
                            <h4>Contact Info</h4>
    
                            <p>emilioenlaluna@gmail.com<br>
                           al244182@edu.uaa.mx <br>
                            Phone: +52 449 268 08 40
                            </p>
    
                        </div>
                    </div>

                    <h3 class="h2">Say Hello</h3>
        
                    <form [formGroup]="contactForm" (ngSubmit)="submitContactData()" novalidate>
                        <label>First Name</label>
                        <input type="text" formControlName="nombre" class="full-width" required />
                        <p *ngIf="contactForm.controls['nombre'].errors?.['required']" class="error">
                          <sup>*</sup>Name required
                        </p>
                        <p *ngIf="contactForm.controls['nombre'].errors?.['minlength']" class="error">
                          <sup>*</sup>
                        </p>
                
                        <label>Matter</label>
                        <input type="text" formControlName="asunto" class="full-width" />
                        <p *ngIf="contactForm.controls['asunto'].errors?.['required']" class="error">
                          <sup>*</sup>Matter required
                        </p>
                        <p *ngIf="contactForm.controls['asunto'].errors?.['minlength']" class="error">
                          <sup>*</sup>Length Error
                        </p>
                
                        <label>Email</label>
                        <input type="email" formControlName="correo" class="full-width" required />
                        <p *ngIf="contactForm.controls['correo'].errors?.['required']" class="error">
                          <sup>*</sup>Email required
                        </p>
                
                        <label>Mobile Number</label>
                        <input type="text" formControlName="numero" class="full-width" required />
                        <p *ngIf="contactForm.controls['numero'].errors?.['required']" class="error">
                          <sup>*</sup>Number Required
                        </p>
                
                        <label>Description</label>
                        <input type="text" formControlName="descripcion" class="full-width" required />
                        <p *ngIf="contactForm.controls['descripcion'].errors?.['required']" class="error">
                          <sup>*</sup>Description required
                        </p>
                        <p *ngIf="contactForm.controls['descripcion'].errors?.['minlength']" class="error">
                          <sup>*</sup>Length error
                        </p>
                
                        <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">
                          Reset
                        </button>
                        <button type="submit" class="btn btn--primary btn-wide btn--large full-width" value="Send Message"  [disabled]="!contactForm.valid">
                         Send
                        </button>
                      </form>
                    

                </section>

            </main>

        </div> <!-- end s-content -->