<!-- site content
        ================================================== -->
<div class="s-content content">
  <main class="row content__page">

    <section class="column large-full entry format-standard">


      <div class="content__page-header">
        <h1 class="display-1">
          Reset Password
        </h1>
      </div> <!-- end content__page-header -->

      <p class="text-center">Please enter your email address to request a password reset.</p>
      
        <input type="email" class="full-width" placeholder="Email Address" #passwordResetEmail required>
      
      <input type="submit" class="btn btn--primary btn-wide btn--large full-width" value="Reset Password"
        (click)="authService.ForgotPassword(passwordResetEmail.value)">
      <br>

      <a href="/sign-in">Go back to ? <span class="redirect" routerLink="">Log In</span></a>

    </section>

  </main>

</div> <!-- end s-content -->