 <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="/assets/images/thumbs/about/about-1000.jpg" srcset="/assets/images/thumbs/about/about-2000.jpg 2000w, 
                            /assets/images/thumbs/about/about-1000.jpg 1000w, 
                            /assets/images/thumbs/about/about-500.jpg 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                        </div>
                    </div>

                    <div class="content__page-header">
                        <h1 class="display-1">
                        Hello, I am @emilioenlaluna.
                        </h1>
                    </div> <!-- end content__page-header -->

                    <p class="lead drop-cap">
                        Hello, I am Emilio Luna, the founder and primary author of this programming blog. I have a passion for coding and a deep understanding of various programming languages and technologies.
                    </p>

                    <p>
                        At this blog, we strive to provide valuable content to programmers of all levels, from beginners to experienced professionals. Our mission is to share practical tutorials, tips, and insights that can help you enhance your programming skills and stay up to date with the latest industry trends.
                    </p>

                    <h2>Why?</h2>

                    <p>
                        Through our blog, we aim to foster a supportive community where programmers can learn, share ideas, and collaborate. We believe that by sharing knowledge and experiences, we can collectively grow as developers.
                    </p>

                    <hr>

                    <div class="row block-large-1-2 block-tab-full">
                        <div class="column">
                            <h4>Who I Am.</h4>
                            <p>I am a passionate programmer dedicated to sharing my knowledge and experiences through this blog. With a deep understanding of various programming languages, frameworks, and technologies, I bring a wealth of expertise to my articles and tutorials.

                                I believe in the importance of continuous learning and personal growth. I invest time in staying updated with the latest trends and advancements in the programming world, ensuring that my content reflects the current industry landscape.
                                
                                </p>
                        </div>

                        <div class="column">
                            <h4>Our Mission.</h4>
                            <p>At our programming blog, our mission is to empower developers of all levels to enhance their programming skills, stay up-to-date with industry trends, and overcome challenges in their coding journey. We are dedicated to providing practical tutorials, insightful articles, and helpful resources that enable programmers to thrive in a rapidly evolving tech landscape.</p>
                        </div>

                        <div class="column">
                            <h4>Our Vision.</h4>
                            <p>Our vision is to empower programmers with the tools and knowledge they need to succeed in their coding journey. We want to create a space where programmers can find inspiration, guidance, and resources to overcome challenges and achieve their goals.</p>
                        </div>

                        <div class="column">
                            <h4>Our Core Values.</h4>
                            <p>Excellence: We strive for excellence in everything we do, from the quality of our content to the user experience on our website.
                            </p>
                            <p>Continuous Learning: We believe in the importance of continuous learning and growth. We encourage our readers to embrace a lifelong learning mindset and explore new technologies and concepts.</p>
                        <p>Community: We value the power of community and collaboration. We aim to build a supportive and inclusive community where programmers can connect, learn from each other, and share their knowledge.</p>
                    <p>Practicality: We focus on providing practical, hands-on content that can be directly applied in real-world scenarios. Our aim is to help programmers solve problems and build practical skills</p>  
                    </div>

                    </div>

                </section>

            </main>

        </div> <!-- end s-content -->