<!-- site content
        ================================================== -->
        <div class="s-content content">
          <main class="row content__page">
        
            <section class="column large-full entry format-standard">
        
        
              <div class="content__page-header">
                <h1 class="display-1">
                  Dashboard
                </h1>
              </div> <!-- end content__page-header -->
        
              <div class="row" *ngIf="authService.userData as user">
                <div class="col-md-12">
                  <div class="media">
                    <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                      alt="{{user.displayName}}">
                    <div class="media-body">
                      <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                      <p>User ID: <strong>{{user.uid}}</strong></p>
                      <p>Email: <strong>{{user.email}}</strong></p>
                      <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                    </div>
                  </div>
                </div>
              </div>

              <a href="/blog-list" class="btn btn--primary btn-wide btn--large full-width" >
               Gestionar blogs
              </a >
              
             
              <button class="btn btn--primary btn-wide btn--large full-width" (click)="authService.SignOut()">
                Log out
              </button >
              
             
            </section>
        
          </main>
        
        </div> <!-- end s-content -->
        
