<div class="pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Agregar entrada de blogg</h2>
</div>
<form [formGroup]="blogForm" (ngSubmit)="submitBloggData()" novalidate>
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Titulo</label>
                    <input type="text" formControlName="title" class="form-control" required />
                    <!-- errors-->
                    <p *ngIf="title.touched && title.invalid" class="error">
                        <sup>*</sup>Ingrese el titulo
                    </p>
                </div>  
                <div class="col-md-12 mb-3">
                    <label>Introducción</label>
                    <input type="text" formControlName="intro" class="form-control" required />
                    <!-- errors-->
                    <p *ngIf="intro.touched && intro.invalid" class="error">
                        <sup>*</sup>Ingrese la introduccción
                    </p>
                </div>  
                
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Entrada</label>
                    <quill-editor formControlName="body"></quill-editor>
                    
                    <!-- errors-->
                    <p *ngIf="body.touched && body.invalid" class="error">
                        <sup>*</sup>Ingrese la entrada
                    </p>
                </div>  
                <div class="col-md-12 mb-3">
                    <label>Final</label>
                    <input type="text" formControlName="final" class="form-control" required />
                    <!-- errors-->
                    <p *ngIf="final.touched && final.invalid" class="error">
                        <sup>*</sup>Ingrese la conclusión
                    </p>
                </div>  
                
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Imagen</label>
                    <input type="text" formControlName="image" class="form-control" required />
                    <!-- errors-->
                    <p *ngIf="image.touched && image.invalid" class="error">
                        <sup>*</sup>Ingrese imagen
                    </p>
                </div>  
                <div class="col-md-12 mb-3">
                    <label>Imagen alt</label>
                    <input type="text" formControlName="imagealternative" class="form-control" required />
                    <!-- errors-->
                    <p *ngIf="imagealternative.touched && imagealternative.invalid" class="error">
                        <sup>*</sup>Ingrese el texto alternativo a la Imagen
                    </p>
                </div>  
                
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Author</label>
                    <input type="text" formControlName="author" class="form-control" required />
                    <!-- errors-->
                    <p *ngIf="author.touched && author.invalid" class="error">
                        <sup>*</sup>Ingrese el author
                    </p>
                </div>  
                <div class="col-md-12 mb-3">
                    <label>Fecha</label>
                    <input type="date" formControlName="date" class="form-control" required />
                    <!-- errors-->
                    <p *ngIf="date.touched && date.invalid" class="error">
                        <sup>*</sup>Ingrese la Fecha
                    </p>
                </div>  
                
            </div>
            
            <div class="form-group text-right">
                <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">
                    Reset
                </button>
                <button type="submit" class="btn btn-success" [disabled]="!blogForm.valid">
                    Add Student
                </button>
            </div>
        </div>
    </div>
</form>