<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Blogs by @emilioenlaluna</h2>
    <a routerLink="/add-blog" class="btn btn-success" *ngIf="hideWhenNoBlogg">
        Agregar blog
    </a>
</div>
<div class="pricing-header mx-auto">
    <div class="no-data text-center" *ngIf="preLoader">
        <img src="assets/preloader.gif" class="preloader-icon" alt="No student" />
    </div>
    <div class="no-data text-center" *ngIf="noData">
        <img src="assets/no-student.svg" class="nodata-msg" alt="No blogg" />
        <p class="nodata-msg">No hay blogs aún!</p>
        <a routerLink="/add-blog" class="btn btn-success"> Agregar blog </a>
    </div>
    <div class="table-responsive" *ngIf="hideWhenNoBlogg">
        <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Blogg Id</th>
                    <th scope="col">Blogg Titulo</th>
                    <th scope="col">Introducción</th>
                    <th scope="col">Entrada</th>
                    <th scope="col">Final</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Alt</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Fecha</th>
                    <th class="text-center" scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blog of Blogg | paginate: { itemsPerPage: 8, currentPage: p }; let i = index ">
                    <th scope="row">{{ blog.$key }}</th>
                    <td>{{ blog.title }} </td>
                    <td>{{ blog.intro }}</td>
                    <td><div [innerHTML]="blog.body"></div></td>
                    
                    <td>{{ blog.final }}</td>
                    <td>{{ blog.image }}</td>
                    <td>{{ blog.imagealternative }}</td>
                    <td>{{ blog.author }}</td>
                    <td>{{ blog.date }}</td>
                    <td class="text-center action-block">
                        <a class="mr-2 btn btn-outline-primary btn-sm"
                            routerLink="/edit-blog/{{ blog.$key }}">Edit</a>
                        <span class="btn btn-outline-danger btn-sm" (click)="deleteStudent(blog)">Delete</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>