<!-- site content
        ================================================== -->
<div class="s-content content">
  <main class="row content__page">

    <section class="column large-full entry format-standard">


      <div class="content__page-header">
        <h1 class="display-1">
          Thank You for Registering
        </h1>
      </div> <!-- end content__page-header -->

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>

      <div class="redirectToLogin">
        <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
      </div>
    </section>

  </main>

</div> <!-- end s-content -->