<!-- site content
        ================================================== -->
<div class="s-content content">
    <main class="row content__page">

        <section class="column large-full entry format-standard">


            <div class="content__page-header">
                <h1 class="display-1">
                    Edit blog
                </h1>
            </div> <!-- end content__page-header -->

           
                    <div class="pricing-header form-block mx-auto">
                        <form [formGroup]="blogForm" (ngSubmit)="updateForm()" novalidate>
                            <div>
                                <div class="col-lg-5 col-md-12 col-sm-12">

                                    <div>
                                        <label>Titulo</label>
                                        <input type="text" formControlName="title" class="full-width" required />
                                        <!-- errors-->
                                        <p *ngIf="title.touched && title.invalid" class="error">
                                            <sup>*</sup>Ingrese el titulo
                                        </p>
                                    </div>
                                    <div>
                                        <label>Introducción</label>
                                        <input type="text" formControlName="intro" class="full-width" required />
                                        <!-- errors-->
                                        <p *ngIf="intro.touched && intro.invalid" class="error">
                                            <sup>*</sup>Ingrese la introduccción
                                        </p>
                                    </div>


                                    <div>
                                        <label>Entrada</label>
                                        <quill-editor formControlName="body"></quill-editor>
                                        <!-- errors-->
                                        <p *ngIf="body.touched && body.invalid" class="error">
                                            <sup>*</sup>Ingrese la entrada
                                        </p>
                                    </div>
                                    <div>
                                        <label>Final</label>
                                        <input type="text" formControlName="final" class="full-width" required />
                                        <!-- errors-->
                                        <p *ngIf="final.touched && final.invalid" class="error">
                                            <sup>*</sup>Ingrese la conclusión
                                        </p>
                                    </div>


                                    <div>
                                        <label>Imagen</label>
                                        <input type="text" formControlName="image" class="full-width" required />
                                        <!-- errors-->
                                        <p *ngIf="image.touched && image.invalid" class="error">
                                            <sup>*</sup>Ingrese imagen
                                        </p>
                                    </div>
                                    <div>
                                        <label>Imagen alt</label>
                                        <input type="text" formControlName="imagealternative" class="full-width"
                                            required />
                                        <!-- errors-->
                                        <p *ngIf="imagealternative.touched && imagealternative.invalid" class="error">
                                            <sup>*</sup>Ingrese el texto alternativo a la Imagen
                                        </p>
                                    </div>



                                    <div>
                                        <label>Author</label>
                                        <input type="text" formControlName="author" class="full-width" required />
                                        <!-- errors-->
                                        <p *ngIf="author.touched && author.invalid" class="error">
                                            <sup>*</sup>Ingrese el author
                                        </p>
                                    </div>
                                    <div>
                                        <label>Fecha</label>
                                        <input type="date" formControlName="date" class="full-width" required />
                                        <!-- errors-->
                                        <p *ngIf="date.touched && date.invalid" class="error">
                                            <sup>*</sup>Ingrese la Fecha
                                        </p>
                                    </div>
                                    <div>
                                        <label>Category</label>
                                        <input type="text" formControlName="category" class="full-width" required />
                                        <!-- errors-->
                                        <p *ngIf="category.touched && category.invalid" class="error">
                                            <sup>*</sup>Ingrese la Fecha
                                        </p>
                                    </div>



                                    <div class="form-group text-right">
                                        <a href="/blog-list" class="btn btn-sm btn-outline-secondary" >
                                            Go Back
                                        </a>
                                        <button type="submit" class="btn btn-success btn-block"
                                            [disabled]="!blogForm.valid">
                                            Update Blogg
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
            



        </section>

    </main>

</div> <!-- end s-content -->